<form [formGroup]="form" (ngSubmit)="onChange()">
  <div class="input-group"><span class="input-group-text">Kat Sayısı </span>
    <input formControlName="min" class="form-control" type="number" aria-label="Min" />
    <input formControlName="max" class="form-control" type="number" aria-label="Max" />
    <button  class="btn btn-outline-success me-1 mb-1" type="submit">Ara
    </button>
  </div>
</form>
<div class="table-responsive scrollbar">
  <table class="table table-hover table-striped overflow-hidden">
    <thead>
    <tr>
      <th scope="col">Emlak Id</th>
      <th scope="col">Başlık</th>
      <th scope="col">Oda Sayısı</th>
      <th scope="col">Toplam Kat Sayısı</th>
      <th scope="col"> Kat Sayısı</th>
      <th scope="col">Alanı</th>
      <th scope="col">Isınma Türü</th>
      <th scope="col">Emlak Türü</th>
    </tr>
    </thead>
    <tbody>
    <tr  class="align-middle"  *ngFor="let response of realEstateResponseList">
      <td class="text-nowrap">{{response.realEstateId}}</td>
      <td class="text-nowrap">{{response.title}}</td>
      <td class="text-nowrap">{{response.numberOfRooms}}</td>
      <td class="text-nowrap">{{response.numberOfFloors}}</td>
      <td class="text-nowrap">{{response.buildingFloor}}</td>
      <td class="text-nowrap">{{response.m2 |m2}}</td>
      <td><span [class]="setWarmingClass(response.warmingType)">{{getWarmingDisplayName(response.warmingType)}}</span>
      <td><span [class]="setRealEstateClass(response.realEstateType)">{{getRealEstateDisplayName(response.realEstateType)}}</span>
      </td>
      <td  class="text-nowrap">
        <button routerLink="/realestate/detail/{{response.realEstateId}}" class="btn-falcon-primary">Detaya git</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
